* {
  margin: 0;
  padding: 0;
}
.app > h1 {
  font-size: 43px;
  color: brown;
  padding: 23px 124px 21px 400px;
  align-items: center;
  background: rosybrown;
  margin-bottom: 23px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.app > h2 {
  font-size: j;
  color: red;
  padding: 23px 24px 21px 12px;
  margin-left: 480px;
  margin-right: 480px;
  align-items: center;
  background-color: yellowgreen;
  
  justify-content: space-between;
}

.app > button {
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
  left: 24px;
  margin-left: 450px;
  margin-bottom: 33px;
  border-radius: 5%;
  border: blue;
  border-color: red;
  font-weight: 800;
  
  justify-content: space-between;
}

.app > button:hover {
  color: purple;
  background-color: gray;
}

.app > hr {
  width: 100%;
  height: 5px;
  color: black;
  background: black;
  box-shadow: 10px 6px 5px -1px blue;
}


